<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <h2>User</h2>
</head>
<body>

<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Age</th>
        <th>Roles</th>
    </tr>

    </thead>
    <tbody>
    <tr>
        <td th:utext="${user.getId()}">id</td>
        <td th:utext="${user.getName()}">First Name</td>
        <td th:utext="${user.getLastName()}">Last name</td>
        <td th:utext="${user.getAge()}">Age</td>
        <td th:each="role: ${user.getRoles()}" th:text="${role.getName()}"></td>
    </tr>
    </tbody>
</table>
<br>
<form th:action="@{'/logout'}">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>